body
{
    font-family: Nunito, sans-serif;
    margin:0;
}

div#body-content
 {
    margin: 0 auto;
    max-width: 1400px;
    
 }

 h1, .Classe_Div_Compte_Client_Welcome
 {
     text-align: center;
 }

 div.Classe_Div_Compte_Client_Sommaire
 {
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: repeat(3,1fr);
     column-gap:30px;
     row-gap: 30px;

 }

 

.Classe_Div_Compte_Client_Sommaire div
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    color:orange;
    border-radius: 20px;
    border:2px solid orange;
    height:70px;
    align-items: center;
    justify-content: start;
    font-size:24px;
}

div.Classe_Div_Compte_Client_Sommaire div:hover
 {
    background-color:orange;
    color:white;
 }

 div.Classe_Div_Compte_Client_Sommaire div:last-child
 {
     grid-column : 2 / span 2;
 }

div.Classe_Div_Compte_Client_Sommaire i
{
    justify-self: center;
    font-size: 40px;
}