/*--------PARCE QUE J'AI PAS TOUS LES FICHIERS-------------------------------*/
body
{
    font-family: Nunito, sans-serif;
    margin:0;
}

/* div#Div_Logo img
{
    border-radius: 100%;
} */
/*------------------------------GENERAL-------------------------------*/
header
{
    margin-top: 10px;
}
header.Classe_Div_Header {
	width: 100%;
	display: grid;
	/*grid-template-columns: 1fr;*/
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(7, 1fr) ;
	grid-template-areas:
		" . logo shops social-networks brands langages . " 
		" . logo search-bar search-bar search-bar actions . " 
		" navbar navbar navbar navbar navbar navbar navbar ";
	justify-content: center;
	text-align: center;
	align-items: center;
    column-gap: 20px;
}



.Classe_Div_Header_Container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/*display: grid;*/
	/*grid-template-columns: repeat(5,1fr);*/
	justify-content: center;
	text-align: center;
	align-items: center;
}

header.Classe_Div_Header i.fab
{
	font-size:25px;
	color:#000000;
}
/*------------------------------PLACEMEMENT-------------------------------*/

#Div_Logo
{
	grid-area:logo;
}

.Classe_Div_Header_Reseaux_sociaux 
{
	grid-area: social-networks;
}

.Classe_Div_Header_Magasins 
{
	grid-area: shops;
}

.Classe_Div_Header_Marques 
{
	grid-area: brands;
}

.Classe_Div_Header_Choix_Langue 
{
	grid-area: langages;
}

.Classe_Div_Header_Recherche 
{
	grid-area: search-bar;
}

.Classe_Div_Header_Actions
{
	grid-area:actions;
}

.Classe_Div_Header_Menu
{
	grid-area:navbar;
}
/*------------------------------HEADER HAUT-------------------------------*/
.Classe_Div_Header_Magasins, .Classe_Div_Header_Marques, .Classe_Div_Header_Choix_Langue
{
	color: orange;
}

/*.Classe_Div_Header_Haut .Classe_Div_Header_Container 
{
	
}*/
#Div_Logo 
{

	align-self: start;
	grid-row: 1 / span 3;
}

.Classe_Div_Header_Reseaux_sociaux ul 
{
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding-left:0;
}



/*------------------------------HEADER MILIEU-------------------------------*/
.Classe_Div_Header_Recherche
{
    position:relative;
}

.Classe_Div_Header_Recherche input[type="search"]
{
	/* grid-column: 2 / span 3; */
    width: 100%;
    padding: 10px 45px 10px 10px ;
    border-radius: 50px;
    border: 2px solid black;
}

.Classe_Div_Header_Recherche button
{
    background-color: rgba(255, 255, 255, 0);
    border:none;
    position: absolute;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0%, -50%);
    padding:0;
}

.Classe_Div_Header_Recherche button i.fas
{
    font-size: 25px;
}
.Classe_Div_Header_Actions ul 
{
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
    align-items: center;
}


li.Classe_Li_Header_Panier
{
	display:flex;
	flex-direction:column;
}

/*------------------------------HEADER BAS-------------------------------*/

.Classe_Div_Header_Menu
{
	background-color: orange;
	color:#ffffff;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.Classe_Div_Header_Menu nav.menu
{
	grid-column-start: 3;
    grid-column-end: 7;
}

/*------------------------------RESPONSIVE-------------------------------*/


@media (max-width: 991.98px){
    header.Classe_Div_Header
    {
        grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 10px ;
	    grid-template-areas:
		" . logo shops social-networks brands langages ." 
		" . logo search-bar search-bar search-bar actions . " 
		" navbar navbar navbar navbar navbar navbar navbar ";
    }

    .Classe_Div_Header_Menu nav.menu
    {
        grid-column-start: 2;
        grid-column-end:7;
    }
}

@media (max-width: 767.98px)
{
	header.Classe_Div_Header
    {
        /* column-gap: 5px; */
		row-gap: 5px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, auto);
	    grid-template-areas:
		" navbar logo actions" 
		" search-bar search-bar search-bar ";
    }

	/* Temporaire, en attendant de trouver comment faire un burger menu  */
	.Classe_Div_Header_Magasins, .Classe_Div_Header_Reseaux_sociaux, .Classe_Div_Header_Marques, .Classe_Div_Header_Choix_Langue
	{
		display:none;
	}

	#Div_Logo 
	{

		align-self: center;
		justify-self: center;
		grid-row: 1 / 2;
		height: 100px;
		width: 100px;
	}

	.Classe_Div_Header_Actions ul 
	{
		justify-content: space-around;
	}

	.Classe_Div_Header_Actions > ul li
	{
		padding: 5px;
	}

	.Classe_Div_Header_Recherche
	{
		background-color: orange;
		
	}

	.Classe_Div_Header_Recherche form 
	{
		margin:20px 10px;
	}

	.Classe_Div_Header_Recherche button
	{
		right: 30px;
	}
	
}

/*-------------------------------OLD STUFF-------------------------------*/
.Classe_Div_Logo {
	/* box-shadow: white, 10px, 10px; */
	height: 150px;
	width: 150px;
	background-image: url('https://placekitten.com/187/185');
	/* background-position: top; */
	background-repeat: no-repeat;
	/* background-size: contain; */
	cursor: pointer;
	transition: 0.3s;
	/* margin-bottom: 20px; */
	z-index: 1000;
    border-radius: 100%;
}

.Classe_Div_Header_Droite{
width: calc(100% - 170px);



}


.Classe_Div_Header_Droite_Haut{
	height:40px;
	width:100%;



	display:flex;
	flex-flow:row wrap;
	justify-content:flex-end;

text-align:right;

}

.Classe_Div_Header_Droite_Bas {
	height: 40px;
	width: 100%;

	display: flex;
	flex-flow: row wrap;
}




/* // Old */
.Nav_Menu {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;

}

/* .Nav_Menu_Header_Réduit {
}



#Menu {
} */



.Classe_Div_Logo_Header_Réduit {
	height: 60px;
	margin-bottom: 5px;
	width: 200px;
	margin-left: 0px;
}


ul#Menu {
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	font-size: 15pt;
	letter-spacing: 2px;
}

ul#Menu li {
	display: inline;
	color: black;
	padding: 30px;
}

ul#Menu li:hover {
	color: #fe6145;
	cursor: pointer;
}


nav.menu, nav.menu > ul
{
    padding:0;
}

nav.menu ul {
    display: flex;
    flex-direction:row;
    list-style: none;
    justify-content: space-between;
}