body 
{
    font-family: Nunito, sans-serif;
    margin: 0;
}

div#body-content 
{
    margin: 0 auto;
    max-width: 1400px;

}

h1, .Classe_Div_Inscription_Content
{
    text-align: center;
}

input
{
    border-radius: 20px;
    padding:5px;
}
.Classe_Div_Inscription_Email_Reset
{
    border-radius: 20px;
    border: 1px solid gray;
    background-color: lightgrey;
    color:#000000;
    padding: 10px;    
}

.Classe_Div_Inscription_Email_Submit
{
    background-color: orange;
    border-radius: 20px;
    border: 1px solid orange;
    padding: 10px;
    font-weight: 600;    
}
.Classe_Div_Inscription_Content_Formulaire_Boutons
{
    display: flex;
    justify-content: space-around;
}
form button
{
    cursor:pointer;
    
}